<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Blood_Bank.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Blood_Bank.My.MySettings>
            <setting name="rememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="userName" serializeAs="String">
                <value>""</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>""</value>
            </setting>
        </Blood_Bank.My.MySettings>
    </userSettings>
</configuration>
